*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after  {
    content: '';
    display: table;
    clear: both;
}

/* header */
header  {
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* navbar */
nav  {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
}

.float  {
    float: left;
    height: 100%;
}

nav .float:first-child,
nav .float:last-child  {
    width: 25%;
}

nav .float:nth-child(2)  {
    width: 50%;
}

.logo  {
    vertical-align: middle;
}

.nav-menu,
.footer-bar {
    list-style: none;
}

.nav-menu li  {
    display: inline-block;
    margin-right: 1em;
}

.nav-menu li:last-child  {
    margin-right: 0;
}

.navbar,
.footer-bar a  {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-menu, .footer-bar a:hover,
.nav-menu, .footer-bar a:focus,
.nav-menu, .footer-bar a:active  {
    text-decoration: underline;
}

.btn  {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 5px 15px;
    line-height: 2em;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
}

a.btn:hover  {
    color: #265ee8;
}

/* text header */
.jumbo-text  {
    width: 50%;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 5em 0;
}

.jumbo-title  {
    margin-bottom: 1.1em;
}

.jumbo-desk  {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big  {
    padding: 10px 20px;
}

a.btn.dark  {
    background-color: #23272a;
    color: white;
}

/* a.btn.dark:hover,
a.btn.dark:focus,
a.btn.dark:active  {
    color:  #265ee8;
} */

/* main */
.main  {
    width: 80%;
    margin: 5em auto;
}

.margin-top  {
    margin-top: 15em;
}

.img-box  {
    width: 60%;
}

.text-box  {
    width: 40%;
        padding: 2em 12em 0 0;
}

/* fourth section */
h2  {
    font-size: 2.5em;

}

.fourth-section-p  {
    padding: 2em 14em 0;
}

.center-text  {
    text-align: center;
}

section img  {
    width: 100%;
}

.star  {
     background-image: url(../img/stars.svg);
    font-size: 1.2em;
    display: inline-block;
    width: 30em;
    margin-bottom: 2em;
}

.fourth {
    margin-top: 2em;
}

.violet  {
    background-color: #8ea1e1;
    color: white;
}

/* footer */
footer  {
    background-color: #23272a;
}

.footer-width  {
    width: 80%;
    margin: 0 auto;
}

.footer-padding  {
    padding: 4em;
}

.speak  {
    color: #7289da;
    font-weight: 900;
    font-size: 1.5em;
    width: 10em;
    margin-right: 5em;
    line-height: 1.2em;
}

.flag,
.social  {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin: 1em 0;
}
.space  {
    word-spacing: 0.8em;
    font-size: 1em;
}

span > img  {
    width: 1em;
}

.footer-bar  {
    line-height: 2em;
    font-size: 0.8em;
}

.correlation  {
    margin-right: 5%;
}

.list-title  {
    color: #7289da;
    font-weight: bold;
}

hr  {
    border: 0.5px solid rgba(114, 137, 218, 0.4);
    margin-bottom: 2em;
}

.footer-logo  {
    width: 92.6%;
}